# Documentação: https://https.apache.org/docs/2.4/rewrite/flags.html
# Ativa o módulo Rewrite, que faz a reescrita de URL.

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
